@import "../../node_modules/swiper/swiper-bundle.css";
@import "../../node_modules/glightbox/dist/css/glightbox.css";

// - Vendor
@import 'vendor/frameworks';


// - Abstracts 
@import 'abstracts/aos';
@import 'abstracts/animations';
@import 'abstracts/fonts';


// - Components
@import 'components/buttons';
@import 'components/menu';
@import 'components/form';
@import 'components/swiper';

// - Pages 
@import 'pages/home';
@import 'pages/about';
@import 'pages/offer';
@import 'pages/single-domek';
@import 'pages/gallery';





body {
    @apply font-primary text-black md:text-desc text-base;
}
h1, h2, h3, h4, h5, h6, .heading {
    @apply font-primary;
}
.badge {
    @apply text-badge uppercase text-black;
}
.transition-hidden {
    @apply transition-all ease-in duration-300;
    animation: fadeOutHero 1s ease forwards;
}
.transition-kaemde {
    @apply transition-all ease-in-out duration-300;
}
.link-hover {
    @apply text-primary hover:opacity-70;
    @extend .transition-kaemde;
}
@keyframes fadeOutHero {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
.wysiwyg > * + * {
    @apply mt-4;
}
ul.list-custom {
    @apply list-disc list-inside leading-10;
    li::marker {
      margin-left: 20px !important;
    }
}

//   img {
//     @apply max-w-full;
//   }
//   input, textarea, select {
//     &:focus:not(:focus-visible) {
//      @apply focus:ring-green-500;
//    }
//  }
  

.pulse span {
    @apply absolute w-full h-full bg-inherit rounded-full opacity-80;
    animation: pulseAnimate 2s ease-out infinite;
    animation-delay: calc(1s * var(--i));
}
@keyframes pulseAnimate {
    100% {
        @apply opacity-0;
        transform: scale(1.34);
    }
}



.menu-footer {
    a {
        @extend .transition-kaemde;
        @apply hover:text-primary;
    }
}
.hover-box--extend {

    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    img {
        @apply scale-100 transition-kaemde
    }
}
.swiper-button:hover {
    .group-hover\:custom-white {
        @apply fill-white;
    }
    .group-hover\:custom-gray-light {
        @apply fill-gray-light;
    }
}
.pagination {
    @apply flex items-center justify-center space-x-5 w-full lg:py-full py-half;
    .page {
        &-item {
            @apply flex;
            a {
                @apply bg-primary w-60 h-60 flex items-center justify-center text-desc font-bold rounded-tl-lg rounded-br-lg text-white;
                @extend .transition-kaemde;
            }
            &:hover {
                a {
                    @apply rounded-tr-lg rounded-bl-lg rounded-tl-none rounded-br-none;
                }
                
            }
            &.prev, &.next {
                a {
                    @apply bg-transparent;
                    
                }
                svg {
                    circle {
                        @extend .transition-kaemde;
                    }
                }
                &:hover {
                    svg {
                        circle {
                            @apply fill-gray-light;
                        }
                    }
                }
                
            }
            &.active {
                a {
                    @apply bg-black text-primary;
                    @apply rounded-tr-lg rounded-bl-lg rounded-tl-none rounded-br-none;
                }
                
            }
        }
        &-link {

        }
    }
}
.swiperContain {
    .swiper-slide {
        @extend .transition-kaemde;
        @apply opacity-0;
    }
    .swiper-slide.visible-slide {
        @apply opacity-100;
    }
}

.offer__single--flexeditor {
    ul {
        @apply list-disc list-outside pl-5;
        
    }
    iframe {
        @apply w-full h-full #{!important};
    }
}
